<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Fabian Salas</title>
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
    </head>
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="sideNav">
            <a class="navbar-brand js-scroll-trigger" href="#page-top">
                <span class="d-block d-lg-none">Fabian Salas Orozco</span>
                <!--<span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="assets/img/profile.jpg" alt="..." /></span>-->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
            

                <ul class="navbar-nav">
                    <li><%= image_tag("foto-perfil.jpg", :alt => "rss feed", :class => "w-50 rounded-circle border border-white border-4 imgperfil" )%></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#about">Introduccion</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#experience">Experiencia</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#education">Educacion</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#skills">Habilidades</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#interests">Intereses</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#awards">Certificaciones</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#proyect">Mis proyectos</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="https://github.com/Alonsorozco">Mi Repositorio</a></li>
                    <li class="nav-item"><a class="nav-link js-scroll-trigger" href="https://www.linkedin.com/in/fabiansalasorozco/">Mi Linkedin</a></li>
                    
                    <li class="pt-3"> Qr para compartir esta pagina</li>
                    <li><%= image_tag("qr.jpg", :alt => "rss feed", :class => "w-25  img-fluid img-thumbnail " )%></li>
                </ul>

                
            </div>
        </nav>
        <!-- Page Content-->
        <div class="container-fluid p-0">
            <!-- About-->
            <section class="resume-section" id="about">
                <div class="resume-section-content">
                    
                

                    <h1 class="mb-0">
                        Fabian Alonso
                        <span class="text-primary"> Salas Orozco </span>
                    </h1>

                    <a href="https://alonsorozco.github.io/fomremailjs.github.io/">solicita mi curriculum</a>
                    <div class="subheading mb-5">
                    
                    </div>
                    <p class="lead mb-5">Licenciado En Ciencias De La Ingenieria, Desarrollador Full Stack Ruby On Rails.</p>
                    <div class="social-icons">
                        <a class="social-icon" href="https://www.linkedin.com/in/fabiansalasorozco/"><i class="fab fa-linkedin-in"></i></a>
                        <a class="social-icon" href="https://github.com/Alonsorozco"><i class="fab fa-github"></i></a>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Experience-->
            <section class="resume-section" id="experience">
                <div class="resume-section-content">
                    <h2 class="mb-5">Experiencia</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Analista Especialista Mesa Soporte .(BancoEstado)</h3>
                            <div class="subheading mb-3">Periodo: 2021 (1 a침o 3 meses )</div>
                            <div class="subheading mb-3">Empresa: Tata Consultancy Services</div>
                            <ul>
                                <li>Gestiones de Casilla de Monitoreo Transaccional BancoEstado.</li>
                                <li>Gestiones de Reciprocidad Interbancarias</li>
                                <li>Post Gestion casos de fraude</li>
                                <li> Monitoreo de alertas de aplicacion y web, software Nudetect</li>
                            </ul>
                            
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Febrero 2021 - Presente</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Analista de Reclamo Monitoreo Transaccional.(BancoEstado)</h3>
                            <div class="subheading mb-3">Periodo: 2020- 2021 (1 mes 9 dias)</div>
                            <div class="subheading mb-3">Empresa: Asesorias y servicios tecnologicos Spa.(AS)</div>
                            <ul>
                                <li>An치lisis de reclamos por transacciones no reconocidas presenciales y no presenciales. (Transferencias por internet otros
                                    bancos y BancoEstado, Pagos por internet , Giros en cajero automaticos ,Redcompra)</li>
                                <li>An치lisis de patrones de fraudes.</li>
                                <li>Respuesta formal de reclamos para clientes de BancoEstado</li>
                            </ul>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Diciembre 2020 - Enero 2021</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Analista de Seguridad .(BancoEstado)</h3>
                            <div class="subheading mb-3">Periodo: 2014 - 2020 ( 6 a침os 3 meses)</div>
                            <div class="subheading mb-3">Empresa: Inpact S.A</div>
                            <ul>
                                <li>Monitoreo de transferencias por internet para BancoEstado y otros bancos,
                                utilizando las distintas aplicaciones determinada para ello. (CCA, Panel Central de Alerta,Pantalla administrativa,
                                entre otras)</li>

                                <li>Post gest칩n de casos de fraude.</li>
                                <li>Post gest칩n de casos de reclamo.</li>
                                <li>Gesti칩n de aplicaci칩n (TSRM, Tivolli), geti칩n de requerimiento de sucursales.</li>
                                <li>Gesti칩n de puntos de compromisos informados por otros bancos y Banco Estado.</li>
                                <li>Bloqueos de tarjetas vulneradas.</li>
                                <li>Gestion de casillas de Monitoreo transaccional, Prevencion de fraudes , Punto de compromiso y Solicitudes de Monitoreo</li>
                                <li>Ejecutivo de monitoreo para banco falabella ,solo fin de semana</li>
                                <li>Monitoreo de alertas en Banco Falabella</li>
                                <li>Bloqueo de tarjeta vulneradas en Banco Falabella</li>
                                <li>Experiencia en Software de Monitoreo de alertas PAYTRUE</li>
                            </ul>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Marzco 2014 - Junio 2020</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Ingeniero en Sonido</h3>
                            <div class="subheading mb-3">Periodo: 2013 - 2014 ( 6 a침os 3 meses)</div>
                            <div class="subheading mb-3">Empresa:MAGIX, Congress Logistics </div>
                            <ul>
                                <li>Ingeniero en Sonido de conferencias, seminarios y eventos corporativos para grandes empresas.</li>
                            </ul>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Marzco 2013 - Junio 2014</span></div>
                    </div>-
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                </div>


            </section>
            <hr class="m-0" />
            <!-- Education-->
            <section class="resume-section" id="education">
                <div class="resume-section-content">
                    <h2 class="mb-5">Educacion</h2>
                    <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Universidad De las Americas</h3>
                            <div class="subheading mb-3">Ingeniero en Sonido, licenciado de las Ciencias de las Ingenierias</div>
                        
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Marzo 2008 - May 2013</span></div>
                    </div>
                    <div class="d-flex flex-column flex-md-row justify-content-between">
                        <div class="flex-grow-1">
                            <h3 class="mb-0">Desafio latam </h3>
                            <div class="subheading mb-3">Desarrollo Fullstack Ruby on Rail</div>
                        </div>
                        <div class="flex-shrink-0"><span class="text-primary">Marzo 2021 - Febrero 2022</span></div>
                    </div>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Skills-->
            <section class="resume-section" id="skills">
                <div class="resume-section-content">
                    <h2 class="mb-5">Habilidades</h2>
                    <div class="subheading mb-3"> lenguajes de Programacion y herramientas</div>
                    <ul class="fa-ul mb-5">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            HTML
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            CSS
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Javascript
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Ruby on Rails
                        </li> 
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Github
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Heroku
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Jquery
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            SQL
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            PostgreSQL
                        </li>

                    </ul>

                    <div class="subheading mb-3">Flujo de trabajo</div>
                    <ul class="fa-ul mb-0">
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Dise침o responsivo para moviles.
                        </li>
                        <li>
                            <span class="fa-li"><i class="fas fa-check"></i></span>
                            Desarrollo Agil y scrum
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Interests-->
            <section class="resume-section" id="interests">
                <div class="resume-section-content">
                    <h2 class="mb-5">Intereses</h2>
                    <p> Busco experiencia en el desarrollo de aplicaciones web tanto como en el back end y front end.</p>
                    <p class="mb-0"></p>
                </div>
            </section>
            <hr class="m-0" />
            <!-- Awards-->
            <section class="resume-section" id="awards">
                <div class="resume-section-content">
                    <h2 class="mb-5">Certificaciones</h2>
                    <ul class="fa-ul mb-0">

                        <li>
                            <a class="social-icon" href="https://desafiosdev.s3.amazonaws.com/uploads/certification/image/14501/aprobacion-modulos-cursos-b-learning-desarrollo-rails-y-javascript-g46-8677.png"><i class="fas fa-trophy text-warning"></i>Desarrollo Rails y JavaScript</a>
                        </li>

                        <li>
                            <a class="social-icon" href="https://desafiosdev.s3.amazonaws.com/uploads/certification/image/13685/aprobacion-modulos-cursos-b-learning-desarrollo-de-aplicaciones-web-con-rails-g46-8677.png"><i class="fas fa-trophy text-warning"></i>Desarrollo De Aplicaciones Web con Rails</a>
                        </li>

                        <li>
                            <a class="social-icon" href="https://desafiosdev.s3.amazonaws.com/uploads/certification/image/12903/aprobacion-modulos-cursos-b-learning-lenguaje-de-consultas-a-una-base-de-datos-postgresql-g46-8677.png"><i class="fas fa-trophy text-warning"></i>Lenguaje De Consultas En una Base De Datos PostgreSQL</a>
                        </li>
                        
                        <li>
                            <a class="social-icon" href="https://desafiosdev.s3.amazonaws.com/uploads/certification/image/12785/aprobacion-modulos-cursos-b-learning-introduccion-a-la-programacion-con-ruby-g46-8677.png"><i class="fas fa-trophy text-warning"></i>Introduccion a la Programacion con Ruby</a>
                        </li>

                        <li>
                            <a class="social-icon" href="https://desafiosdev.s3.amazonaws.com/uploads/certification/image/12361/aprobacion-modulos-cursos-b-learning-fundamentos-desarrollo-web-g46-8677.png"><i class="fas fa-trophy text-warning"></i>Fundamentos Desarrollo WEB</a>
                        </li>

                        <li>
                            <a class="social-icon" href="https://desafiosdev.s3.amazonaws.com/uploads/certification/image/15132/aprobacion-final-proyecto-full-stack-g46-8677.png"><i class="fas fa-trophy text-warning"></i>Desarrollador Full Stack Ruby On Rails</a>
                        </li>
                        

                    </ul>

                </div>
            </section>
            <hr class="m-0"/>

            <section class="resume-section" id="proyect">
                <div class="resume-section-content">
                    <h2 class="mb-5">Mis Proyectos</h2>
                    <ul class="fa-ul mb-0">

                        <li>
                            <a class="social-icon" href="https://alonsorozco.github.io/Viajes_Chile/"></i> <i class="fa-solid fa-laptop-code"></i>Viajes Chile</a>
                        </li>
                        <li>
                            <a class="social-icon" href="https://marketvisual.herokuapp.com/"></i> <i class="fa-solid fa-laptop-code"></i>Aplicacion Marketvisual</a>
                        </li>
                         <li>
                            <a class="social-icon" href="https://tweeternighone.herokuapp.com/"></i> <i class="fa-solid fa-laptop-code"></i>Aplicacion Tweeter</a>
                        </li>
                          <li>
                            <a class="social-icon" href="https://alonsorozco.github.io/ricomida.github.io/"></i><i class="fa-solid fa-laptop-code"></i>Sitio de Prueba Ricomida</a>
                        </li>

                        

                    </ul>

                </div>
            </section>



    <!--Section contactos-->
<div data-tf-popover="xdmf1Tey" data-tf-button-color="#0445AF" data-tf-tooltip="Hola 游녦&nbsp;&nbsp;en qu칠 puedo ayudarte?" data-tf-chat data-tf-medium="snippet" style="all:unset;"></div><script src="//embed.typeform.com/next/embed.js"></script>
    <!-- fin-->
        </div>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
  
    </body>
</html>